@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto:wght@400;500&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  padding: 1rem;
  background-color: #333;
  color: #d4d4d4;
}

.logo {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.nav-links {
  height: 100%;
}
.nav-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  display: block;
  text-decoration: none;
  color: #d4d4d4;
  padding: 1rem;
}

.nav-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #d4d4d4;
  border-radius: 10px;
}

.first {
  border-bottom: 1px solid black;
}
.first p {
  font-weight: lighter;
  font-family: "Courier Prime", monospace;
}
.first h2 {
  font-weight: 500;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1024px;
  margin: 10px auto;
}

.title {
  padding-top: 1rem 0;
  letter-spacing: 5px;
}

.first {
  margin: 1rem 0;
  padding: 30px;
}
.first h2 {
  letter-spacing: 5px;
}

.second {
  padding: 1rem 0;
  border-bottom: 1px solid black;
}
.second .title {
  font-weight: bold;
  padding: 1rem 0;
}
.second .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.second .child {
  width: 400px;
  height: 500px;
  margin: auto;
}
.second .child .image:hover {
  cursor: pointer;
}
.second .child .child-body h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
}
.second .child .child-body h5 {
  font-family: "Courier Prime", monospace;
  font-weight: 200;
  letter-spacing: 2px;
}
.second .child .child-body p {
  font-family: "Courier Prime", monospace;
}

.third {
  padding: 1rem 0;
  border-bottom: 1px solid black;
}
.third .title {
  font-weight: bold;
  padding: 1rem 0;
}
.third .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.third .child {
  margin: 5px 0;
}
.third .child-body {
  padding: 10px;
}
.third .child-body h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
}
.third .child-body p {
  font-family: "Courier Prime", monospace;
}
.third .child-body .btn {
  padding: 10px 15px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  width: 40%;
}
.third .child-body .btn:hover {
  background-color: #333;
  color: #d4d4d4;
  cursor: pointer;
}

.forth .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.forth .grid-item {
  padding: 10px;
}
.forth .child-body h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
}
.forth .child-body h5 {
  font-family: "Courier Prime", monospace;
  font-weight: 200;
  letter-spacing: 2px;
}
.forth .child-body p {
  font-family: "Courier Prime", monospace;
}

.footer {
  background-color: #333;
  color: #d4d4d4;
  text-align: center;
  padding: 5px;
  height: 8vh;
}

@media (max-width: 800px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .nav-links {
    display: none;
    width: 100%;
  }
  .nav-links ul {
    width: 100%;
    flex-direction: column;
  }
  .nav-links ul li {
    text-align: center;
  }
  .nav-links ul li a {
    padding: 0.5rem 1rem;
  }

  .nav-links.active {
    display: flex;
  }

  .wrapper {
    flex-direction: column;
  }

  .forth .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400px) {
  .forth .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=main.css.map */
